<h2 class="menu_title">Decorative object Menu!</h2>
<div class="div2">

    <ul>
        <li>
            <a [routerLink]="['/create/menuDecorativeObject/create']">Create</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuDecorativeObject/display']">Display</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuDecorativeObject/list']">List</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuDecorativeObject/view']">View</a>
        </li>
    </ul>
    
    <router-outlet></router-outlet>
    
</div>
    