<h2 class="menu_title">Item Menu!</h2>
<div class="div2">

    <ul>
        <li>
            <a [routerLink]="['/create/menuItem/create']">Create</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuItem/display']">Display</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuItem/list']">List</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuItem/view']">View</a>
        </li>
    </ul>
    
    <router-outlet></router-outlet>
    
</div>
    