

<div class="div1">

    <h2>Create and desing menu</h2>

    <ul>
        <li>
            <a [routerLink]="['/create/menuMonster']">Monster</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuRoom']">Room</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuItem']">Item</a>
        </li>
        <li>
            <a [routerLink]="['/create/menuDecorativeObject']">Decorative object</a>
        </li>
    </ul>

    
    <div>
        <router-outlet></router-outlet>
    </div>
 
    
</div>
    