<div class="mainDiv">
    <div class="divMenu">

        <div class="menuItem">
            <h4>Room Items</h4>
            <ul>
                <li *ngFor="let item of items; let i = index">
                    <span>{{item.name}} <button *ngIf="this.monster.hit_points <= 0" (click)="grabItem(item)">Grab</button></span>
                </li>
            </ul>
        </div>

        <div class="menuItem">
            <h4>Playes</h4>
            <ul>
                <li *ngFor="let player of this.players; let i = index">
                    <span>{{player.name}}</span>
                </li>   
            </ul>
        </div>

        <div class="menuItem">
            <h4>Decorative objects</h4>
            <ul>
                <li *ngFor="let decorative of objects; let i = index">
                    <span>{{decorative.name}}</span>
                </li>
            </ul>
        </div>

        <div class="menuItem">
            <h4>Room</h4>
            <ul>
                <li *ngFor="let room of rooms; let i = index">
                    <span>{{room.name}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="divLog">
        <div class="btn-group">
            <button class="button" *ngIf="this.monster.hit_points > 0" (click)="attack()">Attack</button>
            <button class="button" (click)="clearLog()" >Clear Log</button>
            <button class="button" >Boton</button>
            <button class="button" >Boton</button>
          </div>
      <div #log class="actions">
         
      </div>
    </div>

    <div class="divPlayer">
        <div class="player">
            <div class="playerName">
                <h4>Player: {{this.player.name}}</h4>
            </div>
            <div class="playerStats">
                <ul>
                    <li>
                        <span>Name:</span>
                        <span>{{this.player.name}}</span>
                    </li>
                    <li>
                        <span>last Update:</span>
                        <span>{{this.player.lastUpdate}}</span>
                    </li>
                    <li>
                        <span>attack level:</span>
                        <span>{{this.player.attack_level}}</span>
                    </li>
                    <li>
                        <span>defence level:</span>
                        <span>{{this.player.defense_level}}</span>
                    </li>

                    <li>
                        <span>health:</span>
                        <span>{{this.player.hitpoints}}</span>
                    </li>

                    <li>
                        <span>size:</span>
                        <span>{{this.player.size}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="playerStats">
            <h4>Backpack</h4>
            <ul>
                <li *ngFor="let item of backpack"> {{item.name}} <button *ngIf="this.monster.hit_points <= 0" (click)="dropItem(item)">Drop</button> </li> 
            </ul>
            

        </div>

        <div class="menu">
            <div class="monsterName">
                <h4>{{this.monster.name}}</h4>
            </div>
            <div class="playerStats">
                <ul>
                    <li>
                        <span>Name:</span>
                        <span>{{this.monster.name}}</span>
                    </li>

                    <li>
                        <span>attack level:</span>
                        <span>{{this.monster.attack_lvl}}</span>
                    </li>
                    <li>
                        <span>defence level:</span>
                        <span>{{this.monster.defense_lvl}}</span>
                    </li>
                    <li>
                        <span>size</span>
                        <span>{{this.monster.size}}</span>
                    </li>
                    <li>
                        <span>last Update</span>
                        <span>{{this.monster.lastUpdate}}</span>
                    </li>
                    <li>
                        <span>Hit Points</span>
                        <span>{{this.monster.hit_points}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>




</div>