.mainDiv {
height: 700px;
width: 100%;
}
h4 {
    text-align: center;
}
.divMenu {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: grey;
}

.divLog{
    border: 2px solid black;
    display: inline-block;
    width: 49%;
    height: 100%;
    background-color: grey;
    vertical-align: top;
}

.divPlayer{
        vertical-align: top;
        border: 2px solid black;
        display: inline-block;
        width: 20%;
        height: 100%;
        background-color: grey;
    
}
.menuItem{
    background-color: grey;
    border: 3px solid black;
    height: 24%;
    width: 100%;
    overflow: auto;
}
.playerStats{
    background-color: grey;
    border: 2px solid black;
    height: 25%;
    width: 97%;
    overflow: auto;
    padding-left: 5px;
}

.actions{
    background-color: grey;
    border: 1px solid black;
    border-bottom: 3px solid black;
    padding-left: 5px;
    width: 99%;
    overflow: auto;
}
.actionButton{

    float: left;
    border: 1px solid green;
}


.btn-group .button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;

  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  }