<div class="div1">
    <h2>Desarrollado por:</h2>
    <ul>
        <li>Julian Cardenas</li>
        <li>Juan Andres Mejia</li>
    </ul>
    <h2>Descripcion del juego:</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis sapien cursus, rutrum diam in, aliquet enim. Nunc suscipit rutrum justo.
        Nulla sed consectetur dolor. Nunc eu faucibus metus. Praesent sit amet justo ut sem semper interdum. Aliquam vitae tellus non felis suscipit faucibus. Phasellus vitae enim mauris.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam dapibus condimentum diam id consequat.
        Maecenas a semper nisi. Proin consectetur porta mollis. Aliquam erat volutpat. Donec commodo purus et lorem condimentum, rutrum maximus nisi imperdiet.
        Fusce consequat est vel massa efficitur faucibus. Suspendisse lorem risus, auctor ac enim eu, convallis sodales ligula. Nullam a interdum lacus, et sodales dui.
    </p>
</div>