<div class="div1">

    <h2>Currently displaying: {{monster?.name}}</h2>

    <TABLE BORDER WIDTH="50%" HEIGHT="25%">
        <TR>
            <TD>id</TD> <TD>{{monster?.id}}</TD>
        </TR>
        <TR>
            <TD>Last updated</TD><TD>{{monster?.lastUpdate}}</TD>
        </TR>
        <TR>
            <TD>Attack lelev</TD><TD>{{monster?.attack_lvl}}</TD>
        </TR>
        <TR>
            <TD>Defense level</TD><TD>{{monster?.defense_lvl}}</TD>
        </TR>
        <TR>
            <TD>size</TD><TD>{{monster?.size}}</TD>
        </TR>
        <TR>
            <TD>Hit points</TD><TD>{{monster?.hit_points}}</TD>
        </TR>
        <TR>
            <TD>Description</TD><TD>{{monster?.description}}</TD>
        </TR>

    </TABLE>

</div>