<div class="div1">

    <h2>Currently displaying: {{monster?.name}}</h2>

    <TABLE BORDER WIDTH="50%" HEIGHT="25%">
        <TR>
            <TD BGCOLOR="C0C0C0">id</TD> <TD BGCOLOR="C0C0C0">{{monster?.id}}</TD>
        </TR>
        <TR>
            <TD>Last updated</TD><TD>{{monster?.lastUpdate}}</TD>
        </TR>
        <TR>
            <TD BGCOLOR="C0C0C0">Attack lelev</TD><TD BGCOLOR="C0C0C0">{{monster?.attack_lvl}}</TD>
        </TR>
        <TR>
            <TD>Defense level</TD><TD>{{monster?.defense_lvl}}</TD>
        </TR>
        <TR>
            <TD BGCOLOR="C0C0C0">size</TD><TD BGCOLOR="C0C0C0">{{monster?.size}}</TD>
        </TR>
        <TR>
            <TD>Hit points</TD><TD>{{monster?.hit_points}}</TD>
        </TR>
        <TR>
            <TD BGCOLOR="C0C0C0">Description</TD><TD BGCOLOR="C0C0C0">{{monster?.description}}</TD>
        </TR>

    </TABLE>

</div>